<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
<style>
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('https://krua.co/wp-content/uploads/2021/02/ImageBannerMobile_960x633-11.jpg'); /* แทน image-url.jpg ด้วย URL ของรูปภาพที่ต้องการ */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}
.btn-pls {
  background-color: #FF9966;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn-sign {
  background-color: #FF6633;
  border: none;
  color: white;
  padding: 15px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

  <body>
    <div class="container">

<div class="text-center">
<main class="form-signin w-100 m-auto">
  <form action="{{ url_for('accounts.do_login') }}" method="POST">
    {{ form.hidden_tag() }}
    <img class="mb-4" src="https://www.psu.ac.th/img/logos/psu_th.png" alt="" width="150">
    <h1 class="btn btn-primary btn-lg btn-pls">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-primary btn-lg btn-sign" type="submit">Sign in</button>
  </form>
  
  {% if request.args | length > 0 %}
    <div  class="alert alert-danger" role="alert" style="margin-top: 10px;">
      <ul>
      {% for k, v in request.args.items() %}
        <li><b>{{ k }}: </b> {{ v }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

</main>
</div>

    </div>
  </body>
</html>
