<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
      body {
        background-image: url('https://assets.bonappetit.com/photos/58c95c88aafcc51ad9a32bc9/1:1/w_2560%2Cc_limit/jammy-soft-boiled-eggs.jpg');
        background-size: cover;
      }
      
      .container {
        text-align: center;
      }

  .btn-login {
    background-color: #FF9966;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btn-register {
      background-color:#FF9966;
      border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
    .portfolio-img {
      width: 100%;
      height: auto;
    }
    .bg-dark {
      background-color: #FF9933 !important;

    }
</style>
  </head>
  <body>
    <div class="container">
      <img class="portfolio-img" src="https://www.psu.ac.th/img/logos/psu_th.png"alt="" width="150">
      <div class="p-2 text-bg-primary center">

  <h1>PORT FORLIO AIE</h1>
    
  </div>
  <p class="center">WARIF DARONGOH</p>
  
  <div class="center">
    <a class="btn btn-primary btn-lg btn-login" href="{{ url_for('accounts.login') }}">Login</a>
    <a class="btn btn-primary btn-lg btn-register" href="{{ url_for('accounts.register') }}">Register</a>

  </div>
</div>
  </body>
</html>